<header>
  <nav>
    <div class="topnav">
      <a href="#" class="logo">
        <img src="{{ logo }}" alt="" />
      </a>
      <a class="active" RouterLink="/home">Home</a>
      <a RouterLink="/contact">Contact</a>
      <input type="text" placeholder="Trouver un livre..." />
    </div>
  </nav>
</header>

<main>
  <div class="mybtn">
    <button id="btn" (click)="afficheForm()" *ngIf="!affiche">
      Afficher le formulaire d'enregistrement
    </button>
    <button id="btn" (click)="afficheForm()" *ngIf="affiche">
      Cacher le formulaire d'enregistrement
    </button>
  </div>
</main>
