<div class="grand">
  <div class="container" *ngIf="affiche">
    <form action="action_page.php">
      <label for="title">Titre du livre</label>
      <input
        type="text"
        id="title"
        formControleName="title"
        placeholder="Titre du livre..."
      />

      <label for="author">Nom de l'auteur</label>
      <input
        type="text"
        id="author"
        formControleName="author"
        placeholder="Nom de l'auteur..."
      />

      <label for="home">Maison d'édition</label>
      <input
        type="text"
        id="home"
        formControleName="home"
        placeholder="La maison d'édition.."
      />

      <label for="year">Année d'édition</label>
      <input
        type="number"
        formControleName="year"
        id="year"
        placeholder="L'année d'édition"
      />

      <label for="statut">Statut</label>
      <select id="statut" name="statut">
        <option value="Traitée">Disponible 🟢</option>
        <option value="Non traitée">Non disponible ❌</option>
      </select>

      <label for="description">Description</label>
      <textarea
        id="description"
        formControleName="description"
        placeholder="Description du livre..."
        style="height: 200px"
      ></textarea>

      <input type="submit" value="Enregistrer" />
    </form>
  </div>
</div>
