footer {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    display: none;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 15px;

}

a {
    text-decoration: none;
    color: white;
}